[phases.setup]
nixPkgs = ["dotnet-sdk_8"]
aptPkgs = []

[phases.install]
cmds = ["dotnet restore az_backend_new/az_backend_new.csproj"]

[phases.build]
cmds = ["dotnet publish az_backend_new/az_backend_new.csproj --no-restore -c Release -o out"]

[start]
cmd = "dotnet out/az_backend_new.dll"

[variables]
ASPNETCORE_URLS = "http://0.0.0.0:${PORT:-8080}"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
NIXPACKS_DOTNET_SDK_VERSION = "8.0"
