[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.install]
cmds = ["cd az_backend_new && dotnet restore"]

[phases.build]
cmds = ["cd az_backend_new && dotnet publish --no-restore -c Release -o out"]

[start]
cmd = "dotnet az_backend_new/out/az_backend_new.dll"

[variables]
ASPNETCORE_URLS = "http://0.0.0.0:${PORT:-8080}"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
